h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form {
  font-family: Arial, Helvetica, sans-serif;
}

i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p {
  line-height: 145%;
}

/*-----------------------------------*/
/*---------------HEADER--------------*/
/*-----------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;
  height: 700px;
  width: auto;
}

h1 {
  padding-top: 320px;
  font-size: 350%;
  font-weight: 200;
  text-align: center;
  color: white;
}

/*-----------------------------------*/
/*-----------PRESENTATION------------*/
/*-----------------------------------*/

.presentation {
  background-color: #f1f1f1;
  padding: 3.5em;
}

.presentation img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 25px;
}

.presentation h2 {
  padding-top: 20px;
  padding-bottom: 45px;
  font-size: 220%;
  font-weight: 200;
  text-align: center;
}

.presentation h3 {
  padding-top: 20px;
  padding-bottom: 45px;
  font-size: 180%;
  font-weight: 200;
  text-align: center;
}

.presentation p {
  color: rgb(75, 75, 75);
  line-height: 145%;
  text-align: justify;
  font-size: 100%;
}

.presentation article {
  border-top: 0.5px solid #debea4;
}

.presentation article p:last-of-type {
  margin-bottom: 30px;
}

.presentation a {
  padding: 10px 20px;
  background-color: #be6c29;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  font-size: 80%;
  font-weight: bold;
}

/*-----------------------------------*/
/*--------GRID INFO  CONTACT---------*/
/*-----------------------------------*/

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*--------INFO---------*/

.infos {
  background-color: #e6e6e6;
  text-align: center;
  padding: 3.5em;
}

.infos h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.35em;
  font-weight: 200;
  text-align: center;
}

.infos p {
  color: rgb(75, 75, 75);
  line-height: 170%;
  text-align: justify;
  font-size: 100%;
  margin-bottom: 15px;
}

.infos blockquote {
  text-align: justify;
  font-style: italic;
  padding: 20px 40px;
  font-size: 90%;
  border-left: 4px solid black;
}

.infos blockquote a {
  color: #be6c29;
  line-height: 170%;
  text-align: justify;
  font-size: 100%;
  margin-bottom: 15px;
}

.info-list {
  text-align: justify;
}

.info-list ul {
  list-style-type: initial;
}

.info-list li {
  margin: 10px 20px;
}

.info-list a {
  color: #be6c29;
  font-size: 100%;
}

.socials {
  display: inline;
}

.socials ul {
  display: inline-block;
}

.socials li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
  font-size: 2em;
}

.socials li a {
  color: #be6c29;
}

/*--------CONTACT---------*/

.contact {
  background-color: #ececec;
  padding: 3.5em;

  line-height: 145%;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name email";
  margin-bottom: 20px;
}

.contact form label {
  display: block;
  color: black;
  line-height: 170%;
  text-align: justify;
  font-size: 120%;
  font-family: inherit;
}

.grid-form input,
.contact form textarea {
  border: 1px solid #be6c29;
  border-radius: 3px;
  line-height: 145%;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

#nm {
  grid-area: name;
  margin: 0px 13px 13px 0px;
  padding-right: 20px;
}

#em {
  grid-area: email;
  margin: 0px 0px 13px 0px;
}

#button {
  grid-area: button;
  margin: 13px;
}

.contact h2 {
  padding-bottom: 20px;
  font-size: 135%;
  font-weight: 200;
  text-align: center;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #be6c29;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 90%;
  font-weight: bold;
  margin-top: 30px;
}

/*-----------------------------------*/
/*--------------FOOTER---------------*/
/*-----------------------------------*/

footer {
  text-align: center;
  padding-top: 70px;
  height: 70px;
  font-size: 90%;
  background-color: #f1f1f1;
  color: rgb(153, 153, 153);
}

footer a {
  color: #be6c29;
}

@media only screen and (max-width: 768px) {
    .contact-info {
      display: block;
    }
  
    .grid-form {
      display: block;
      margin-bottom: 20px;
    }
  
  }
